main * {
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid green;
}
#detailMedia {
  display: flex;
}
#containerImage {
  flex: 1;
}
#infoMedia {
  flex: 1;
}
#imgMedia {
  width: 200px;
}
#castMedia img {
  width: 200px;
}
#directorList {
  display: flex;
}
#actorList {
  display: flex;
  overflow: auto;
}
#similarMedia img {
  width: 200px;
}
#similarMedia {
  display: flex;
  overflow: auto;
}
