img {
  width: 100px;
}
.movie,
.serie {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#containerMovie,
#containerSerie {
  display: flex;
  flex-wrap: wrap;
}
#containerMovie {
  background-color: red;
}
#containerSerie {
  background-color: blue;
}
