#filmPopularList,
#filmUpcomingList,
#topRatedFilmList {
  overflow: auto;
  display: flex;
}
#filmPopularList a,
#filmUpcomingList a,
#topRatedFilmList a {
  margin-right: 1% !important;
}
#filmPopularList a img,
#filmUpcomingList a img,
#topRatedFilmList a img {
  width: 300px;
}

/* FILM PAR GENRES */
#filmGenres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#filmGenres a {
  width: 18%;
  /* text-align: center; */
  margin: 1% !important;
}
#filmGenres a img {
  width: 100%;
}
